@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* ---VARIABLES------------------------------------------------------------------ */
$background-color: #040505;
// $background-color: green;

$matchmaking-display: flex;
$matchmaking-display: none;

$mobile-breakpoint: 969px;

$bottom-menu-height: 50px;

$blocks-margin: 8px;
$blocks-background: #161719;
$blocks-border-radius: 16px;
$block-title-font-size: 20px;

$header-height: 60px;

$group__member-dimentions: 52px;
$group__member-border-radius: 20px;

$scrollbar-width: calc(100vw - 100%);

$full-max: 1920px;
$full-min: 1000px;

/* Обнуление */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #FFFFFF;
  background: #040505;
  background: $background-color;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* ---UTILITY BLOCKS and MODIFIERS----------------------------------------------------------------- */
body {
  // width: calc(100vw - (100vw - 100%));
  overflow-y: scroll;
  --scrollbar-width: calc(100vw - 100%);
}
.wrapper {
  min-height: 100%;
  // overflow: hidden; // зачем??
  display: flex;
  flex-direction: column;
}
.content-block {
  border-radius: $blocks-border-radius;
  background-color: $blocks-background;
}
.block-title {
  font-size: 16px;
  color: #52585C;
}
.block-title_active {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.link_disabled{

}

.btn a, .btn {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242527;
  border-radius: 16px;
  height: 100%;
  font-size: 12px;
  font-weight: 700;
}

._btn-default {
  background-color: #242527;
}
/* ---HEADER------------------------------------------------------------ */
.header {
  position: fixed;
  height: $header-height;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  height: $header-height;
  display: flex;
  background-color: #161719;
  align-items: center;
}
.header__logo {
  margin-left: 20px;
  margin-right: 16px;
}
.menus-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 20px;
}
.header__menu {
  flex: 0 1 50%;
  margin: 0px 0px 0px 16px;
  display: flex;
  align-items: center;
}
.menu {
  padding: 5px 0;
  font-size: 14px;
}
.menu__list {
  flex-wrap: wrap;
  display: flex;
}
@media (max-width: $mobile-breakpoint) {
  .menu__list {
    display: none;
  }
}
.menu___item {
  margin: 0px 0px 0px 16px;
  }
.menu__item:not(:last-child) {
  margin: 0px 0px 0px 0px;
}
.menu__link {
  color: #FFFFFF;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
}

/* right-header */
.header-profile {
  align-self: flex-end;
  padding: 5px 0;
  font-size: 14px;
}
.header-profile__list {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.header-profile__item {
    margin: 0px 0px 0px 16px;
  }
.header-profile__item:not(:last-child) {
  margin: 0px 0px 0px 0px;
}
.header-profile__link {
  color: #FFFFFF;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
}
.messenger-button {
  display: flex;
  align-items: center;
  background-color: #242527;
  justify-content: center;
  border-radius: 16px;
  height: 40px;
  width: 143px;
  font-size: 12px;
}
@media (max-width: $mobile-breakpoint) {
  .messenger-button {
    display: none;
  }
}
.messenger-button__item > img {
  margin-right: 10px;
}
.header__avatar {

}

/* -------PAGE--------------------------------------------------------- */
.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* -------LEFT SIDE--------------------------------------------------------- */

.page__side-left {
  position: fixed;
  left: $blocks-margin * 2;
  margin-bottom: $blocks-margin * 2;
  top: calc(60px + ($blocks-margin * 2));
  width: 324px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: $full-max) {
  .page__side-left {
    margin-left: calc((100vw - ($full-max - ($blocks-margin * 2) + $scrollbar-width)) / 2);
  }
}
@media (max-width: $mobile-breakpoint) {
  .page__side-left {
    display: none;
  }
}
.left-side__group {
  width: 324px;
  height: 188px;
  margin-bottom: $blocks-margin;
}
/* group */
.group {
  display: flex;
  flex-direction: column;
}
.group__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 16px 0px 16px;
}
.group__title {
  font-size: 20px;
  font-weight: 700;
} 
.group__more {
  // display: flex;
  // align-items: center;
}
.group__img-more {
  // display: flex;
  // height: 100%;
  // width: 100%;
}
.group__members-list {
  margin-top: -4px;
  margin-bottom: 8px;
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.group__member {
  height: $group__member-dimentions;
  width: $group__member-dimentions;
  border-radius: $group__member-border-radius;
  margin: 4px;
}
.group__add-member {
  height: 100%;
  width: 100%;
  background-color: #183F2E;
  border-radius : $group__member-border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group__plus-sign {
  width: 20px;
  height: 20px;
  position: relative;
}
.group__plus-sign::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #00A857;
  height: 2px;
  margin-top: -1px;
  top: 50%;
  left: 0px;
  right: 0px;
  z-index: 9;
}
.group__plus-sign::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #00A857;
  width: 2px;
  margin-left: -1px;
  left: 50%;
  top: 0px;
  bottom: 0px;
  z-index: 9;
}

/* friends */
.left-side__friends {
  margin-top: $blocks-margin;
  width: 324px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;  /* <------------- required */
}
.friends {
}
.content-block {
}
.friends__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 16px 0px 16px;}
.friends__title {
  font-size: 20px;
  font-weight: 700;
}
.friends__title-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.friends__title-item {
  margin-right: 24px;
}
.friends__title-item:last-child {
  margin-right: 0px;
}
.friends__list {
  padding:  0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  flex: 1;  /* <------------------- required */
  overflow-y: scroll;  /* <---------- required */
}
.friends__list::-webkit-scrollbar {
  display: none;
}
.friends__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.friend__separator { 
  width: 100%;
  display: block;
  flex-shrink: 0;
  height: 1px;
  background: linear-gradient(90deg, rgba(4, 5, 5, 0.5) 0%, rgba(4, 5, 5, 0) 100%);
}
.friend__separator:not(:first-child) { 
  margin-top: 12px;
}

.friend {
}

.friend__main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.friend__avatar {
  height: 40px;
  width: 40px;
}
.friend__status-wrapper {
}
.friend__status-icon {
}
.friend__text {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 12px;
}
.friend__name {
  display: block;
}
.friend__description {
  display: block;
  font-size: 10px;
  color: #52585C;
}

.friend__actions {
  display: flex;
  align-items: center;
}
.friend-button {
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.friend__spectate {
  border: 1px solid #242527;
  border-radius: 8px;
}
.friend__eye-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend__invite {
  margin-left: 4px;
  border-radius: 8px;
  background-color: #183F2E;
  justify-content: center;
  align-items: center;
}
.friend__plus-sign {
  width: 20px;
  height: 20px;
  position: relative;
}
.friend__plus-sign::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #00A857;
  height: 2px;
  margin-top: -1px;
  top: 50%;
  left: 4px;
  right: 4px;
  z-index: 9;
}
.friend__plus-sign::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #00A857;
  width: 2px;
  margin-left: -1px;
  left: 50%;
  top: 4px;
  bottom: 4px;
  z-index: 9;
}
.friend__menu {
  margin-left: 4px;
  border: 1px solid #242527;
}
/* -------CENTER--------------------------------------------------------- */

.center-wrapper {
  max-width: calc($full-max - ((324px * 2) + ($blocks-margin * 8) + $scrollbar-width));
  width: calc(100vw - ((324px * 2) + ($blocks-margin * 8) + $scrollbar-width));
  display: flex;
  height: 100%;
}
@media (max-width: $mobile-breakpoint) {
  .center-wrapper {
    width: 100%;
  }
}
.center-wrapper__center {
  display: flex;
  flex-direction: column;
  padding-top: $header-height;
  justify-content: flex-start;
  width: 100%;
}
.center-wrapper__center::after {
  content: ' ';
  flex: 1 0 ($blocks-margin * 2);
  height: 16px;
  display: flex;
}
@media (max-width: $mobile-breakpoint) {
  .center-wrapper__center::after {
    content: ' ';
    flex: 1 0 ($bottom-menu-height);
    display: flex;
  }
}
.center {
}

.center__slider {
  margin-top: $blocks-margin * 2;
  height: 132px;
  flex-shrink: 0;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
}
.slider {
  position: relative;
}
.center__slider-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: calc(16px);
  overflow: scroll;
  border-radius: 8px;
  position: relative;
}
.center__slider-container::-webkit-scrollbar {
  display: none;
}

// .slider__controls {
//   position: absolute;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
//   height: 100%;
// }

.slider__left {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  width: 40px;
  left: 0px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  border-radius: 12px 0 0 12px;
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: right top, left bottom;
}
.slider__right {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  width: 40px;
  right: 0px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 8px 8px 0;
  z-index: 5;
  -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, right bottom;
}

.slider__item {
  height: 100%;
  width: 220px;
  background: white;
  border-radius: 12px;
  flex-shrink: 0;
  display: flex;
}
.slider__item:not(:first-child) {
  margin-left: 8px;
}
.slider__content {
}

.frame {
  flex: 0 1 220px;
  text-align: center;
}
.frame__img {
  min-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.frame__img-container {
  // display: flex;
  // flex: 1 0 auto;
  
  // justify-content: center;
  // align-items: center;
  // overflow: hidden;
  // object-fit: fill;
}
.senter__slider:first-child {
  margin-left: 0px;
}
.slider__item:not(:first-child) {
  margin-left: 8px;
}

/* matchmaking */
.center__matchmaking {
  margin-top: $blocks-margin * 2;
  height: 92px;
  flex-shrink: 0;
}
.matchmaking {
  display: flex;
  display: $matchmaking-display;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  font-weight: 700;
}
.matchmaking__title {
  font-size: $block-title-font-size;
  width: 80px;
}
.center__item {
  height: 2300px;
}
/* games */
.center__games {
  margin-top: $blocks-margin * 2;
  flex-shrink: 0;
  width: 100%;
  border-radius: $blocks-border-radius;
  background-color: $blocks-background;
}

.games {
}
.games__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 16px 0px 16px; 
}
.games__header-left {
  flex: 2 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.games__header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 4 px;
  flex: 1 1 auto;
}
.games__header-filters {
}
.games__header-create {
  margin-top: 10px;
}
.games__header-create a {
  flex: 1 1 auto;
  display: flex;
  height: 40px;
  font-weight: 700;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #183F2E;
  color: #00A857;
  padding: 12px;
}
.games__create-text {
  margin-left: 6px;
}
.games__plus-sign {
  width: 20px;
  height: 20px;
  position: relative;
}
.games__plus-sign::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #00A857;
  height: 2px;
  margin-top: -1px;
  top: 50%;
  left: 3px;
  right: 3px;
  z-index: 9;
}
.games__plus-sign::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #00A857;
  width: 2px;
  margin-left: -1px;
  left: 50%;
  top: 3px;
  bottom: 3px;
  z-index: 9;
}

.games__title {
  font-size: 20px;
  font-weight: 700;
}
.games__title-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.games__title-item {
  margin-right: 24px;
}
.games__title-item:last-child {
  margin-right: 0px;
}
.games__list {
  // padding:  0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
.games__item {
  // margin-top: 16px;
}
.games__separator { 
  width: 100%;
  display: block;
  flex-shrink: 0;
  height: 1px;
  background: linear-gradient(90deg, rgba(4, 5, 5, 0.5) 0%, rgba(4, 5, 5, 0) 100%);
}
.games__separator:first-child { 
  margin-top: 8px;
}
.games__separator:not(:first-child) { 
  // margin-top: 8px;
}
.room {
  flex: 1 0 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 16px 16px;
}
.room:hover {
background: #242527;
;
}
.room__left {
  flex: 2 1 auto;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center;
  overflow: hidden;
}
.room__right {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.room__info {
  display: flex;
  flex: 0 0 auto;
  width: 100px;
  height: 52px;
  flex-direction: column;
  justify-content: space-between; // edit this
  align-items: flex-start;
}
.room__title {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
}
.room__icons-list {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.room__icons-item {
  margin-left: 4px;
  width: 20px;
  height: 20px;
  background-color: #242527;
  border-radius: 6px;
}
.room__icons-item:first-child {
  margin-left: 0px;
}

.room__members-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-right: 16px;
}
.room__member {
  flex: 1 0 auto;
  height: $group__member-dimentions;
  width: $group__member-dimentions;
  border-radius: $group__member-border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
}
.room__buttons {
  flex: 1 1 fit-content;
}
.room__btn-request {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  height: 48px;
  background-color: rgba(247, 169, 0, 0.08);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #F7A900;
  line-height: 1.15;
  border-radius: 12px;
}

/* mobile menu */
.center-wrapper__menu-mobile-bottom {
  position: fixed;
  z-index: 55;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: $blocks-background;
  // padding: 5px 0 5px 0;
}
@media (min-width: $mobile-breakpoint) {
  .mobile-bottom-menu {
    display: none;
  }
}
.mobile-bottom-menu__item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px;
}

/* -------RIGHT SIDE--------------------------------------------------------- */
.page__side-right {
  position: fixed;
  right: $blocks-margin * 2;
  margin-bottom: $blocks-margin * 2;
  top: calc(60px + ($blocks-margin * 2));
  width: 324px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: $full-max) {
  .page__side-right {
    margin-right: calc((100vw - ($full-max - ($blocks-margin * 2) + $scrollbar-width)) / 2);
  }
}
@media (max-width: $mobile-breakpoint) {
  .page__side-right {
    display: none;
  }
}
.right-side__feed {
  width: 324px;
  min-height: 0;  /* <------------- required */
}
/* feed */
.feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.feed__header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 16px 0px 16px;
}
.feed__title {
  font-size: 20px;
  font-weight: 700;
} 
.group__more {
  // display: flex;
  // align-items: center;
}
.feed__img-more {
  // display: flex;
  // height: 100%;
  // width: 100%;
}
.feed__list-wrapper {
  flex: 1 1 auto;  /* <------------------- required */
  overflow-y: scroll;  /* <---------- required */

}
.feed__list-wrapper::-webkit-scrollbar {
  display: none;
}
.feed__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.feed__item:first-child {
  margin-top: 0;
}
.feed__item {
  margin-top: 4px;
  min-height: 100px;
}
.event {
  background: linear-gradient(90deg, rgba(82, 88, 92, 0) 0%, rgba(82, 88, 92, 0.16) 91.67%);
  padding: 16px;
}
.event__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  // background-color: white;
}
.event__header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.event__header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  // background-color: green;
}
.event__close {
  // flex: 1 1 auto;
  height: 100%;
}
.close-event {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  // background-color: blue;
}
.close-event__btn {
  flex-grow: 1;
  // flex: 0 0 auto;
  width: 16px;
  height: 16px;
  // background-color: red;
}
.close-event__line1 {
  height: 16px;
  width: 1px;
  margin-left: 7px;
  background-color: #4D4E50;
  transform: rotate(45deg);
  Z-index: 1;
}
.close-event__line2 {
  height: 16px;
  width: 1px;
  background-color: #4D4E50;
  transform: rotate(90deg);
  Z-index: 2;
}

.event__avatar {
  // flex: 1 0 auto;
  height: 32px;
  width: 32px;
}
.event__text {
  margin-left: 12px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.event__emitter {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
.event__status {
  font-size: 10px;
  line-height: 15px;
  color: #52585C;
}

.event__description {
  padding: 9px 0px;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
}
.event__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.event__time {
  color: #52585C;
  font-size: 10px;
}
.event__reject {
  flex: 0 1 auto;
}
.event__accept {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 40px;
  color: #00A857;
  background-color: rgba(35, 197, 119, 0.12);
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  border-radius: 8px;
}
.event__accept h5 {
  margin-left: 4px;
}